<?xml version="1.0"?>
<!--
    <This homework is developed based on magento 1.8>
-->
<config>
    <modules>
        <TakeHome_Homework>
            <version>2.0.0.0</version>
        </TakeHome_Homework>
    </modules>
    <global>
        <events>
            <sales_order_place_before>
                <observers>
                    <homework>
                        <class>TakeHome_Homework_Model_Observer</class>
                        <method>radioactiveCheck</method>
                    </homework>
                </observers>
            </sales_order_place_before>
        </events>
        <blocks>
            <Homework>
                <class>TakeHome_Homework_Block</class>
            </Homework>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>TakeHome_Homework_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <homework>
                <class>TakeHome_Homework_Helper</class>
            </homework>
        </helpers>
        <resources>
            <homework_setup>
                <setup>
                    <module>TakeHome_Homework</module>
                    <class>TakeHome_Homework_Model_Mysql4_Setup</class>
                </setup>
            </homework_setup>
        </resources>
    </global>
    <default>
        <radioactive_section>
            <radioactive_content>
                <radioactive_threhold_value>10</radioactive_threhold_value>
            </radioactive_content>
        </radioactive_section>
    </default>
</config>